<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="views/detail.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?familiy=Poppins:wght@300;400;500;600;700$display=swap"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <title>Document</title>
    </head>
    <body>
        <div class="small-container single-product">
            <div class="row">
                <div class="col-2">
                    <img
                        src="https://t.ly/ka49s"
                        alt=""
                        width="100%"
                        id="ProductImg"
                    />
                    <div class="small-img-row">
                        <div class="small-img-col">
                            <img
                                src="https://t.ly/ka49s"
                                alt=""
                                width="100%"
                                class="small-img"
                            />
                        </div>
                        <div class="small-img-col">
                            <img
                                src="https://t.ly/ka49s"
                                alt=""
                                width="100%"
                                class="small-img"
                            />
                        </div>
                        <div class="small-img-col">
                            <img
                                src="https://t.ly/ka49s"
                                alt=""
                                width="100%"
                                class="small-img"
                            />
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <p>Home / T-Shirts</p>
                    <h1>T-Shirts by Enjoy</h1>
                    <h4>$29.99</h4>
                    <select>
                        <option>Select Size</option>
                        <option>XXL</option>
                        <option>XL</option>
                        <option>L</option>
                        <option>M</option>
                    </select>
                    <input type="number" value="1" name="" id="" />
                    <a href="" class="btn">Add to Cart</a>
                    <h3>Product Details <i class="fa fa-indent"></i></h3>
                    <br />
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Hic earum nemo quo quisquam quod officia ipsa
                        pariatur labore perspiciatis tenetur.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
